<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8"/>
    <title>@ViewData["Title"] - Maze</title>
    @RenderSection("Styles", false)
</head>
<body>
@RenderBody()
@RenderSection("Scripts", false)
</body>
</html>